.bottom-bar {
   position: absolute;
   width: calc(100vw - 275px - 45px);
   left: calc(275px + 30px);
   bottom: 30px;
   background: #F9FAF9;
   z-index: 50000;
   padding: 15px 15px 15px 15px;
   box-sizing: border-box;
   display: flex;
   flex-direction: column;
   transition: .3s all;
}

rect.bar {
   fill: #D6D6D6;
}

.date-row {
   margin-top: 0px;
   display: flex;
   justify-content: space-between;
   color: #7D7D7D;
   font-size: 14px;
}
