.sidebar {
   position: absolute;
   top: 0;
   left: 0;
   margin: 15px;
   padding: 15px 15px 0 15px;
   box-sizing: border-box;
   background: #F9FAF9;
   z-index: 50000;
   border-radius: 2px;
   width: 290px;
   font-size: 14px;
   box-sizing: border-box;
   max-height: calc(100vh - 30px);
   overflow: scroll;
   transition: .3s all;
}

.provider {
   /* border: 1px solid #F2F2F2;
   border-radius: 3px;
   box-shadow: 0px 1px 5px #F2F2F2; */
   height: 35px;
   width: 100%;
   background: white;
   margin: 15px 0;
   display: flex;
   align-items: center;
   /* padding: 0 10px; */
   box-sizing: border-box;
   position: relative;
}

.line {
   position: absolute;
   height: 2px;
   top: 0;
}

.uber {
   background: black;
   width: 85%;
}

.jump {
   background: #E73A14;
   width: 40%;
}

.lyft {
   color: black;
   background: #FE00D8;
   width: 25%;
}

.lime {
   color: black;
   background: #25CF00;
   width: 68%;
}

.sub {
   color: #737373;
   margin-left: 10px;
   font-size: 12px;
}

.title {
   margin-left: 10px;
}
