body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.map-container {
   top: 0;
   left: 290px;
   width: calc(100% - 290px);
   height: 100vh;
   position: absolute;
   z-index: 100;
}
a {
   color: black;
   transition: .3s all;
   text-decoration: none;
}

a:hover {
   /* color: blue; */
}
.attribution {
   color: #7D7D7D;
   font-size: 9px;
   right:15px;
   bottom: 2px;
   z-index: 500000;
   position: absolute;
}
.attribution a {
   color: inherit;
   text-decoration: none;
}

.blur-enter {
  opacity: 0;
}
.blur-enter-active {
  opacity: 1;
  transition: opacity 250 ease-in;
}
.blur-exit {
  opacity: 1;
}
.blur-exit-active {
  opacity: 0;
  transition: opacity 250 ease-in;
}

.blur-grid-enter {
  opacity: 0;
}
.blur-grid-enter-active {
  opacity: 1;
  transition: opacity 1000 ease-in;
}
.blur-grid-exit {
  opacity: 1;
}
.blur-grid-exit-active {
  opacity: 0;
  transition: opacity 1000 ease-in;
}

.cover {
   height: 100vh;
   width: 100vw;
   z-index: 49999;
   background: #D6D6D6;
   /* opacity: 0.75; */
   position: absolute;
   transition: 0.5s all;

}

.mapboxgl-ctrl-logo {
    display: none !important;
}

.mapboxgl-ctrl-bottom-right {
   display: none !important;
}

::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
h1 {
   font-size: 19px;
   font-weight: 500;
   margin: 0px 0px 15px 0px;
}

h2 {
   font-size: 15px;
   font-weight: 500;
   margin: 0px 0px 15px 0px;
}

p {
   color: #7D7D7D;
   font-size: 13px;
   line-height: 18px;
   margin: 0px;
}

.tooltip {
   background: #F9FAF9;
   border-bottom-left-radius: 2px;
   border-bottom-right-radius: 2px;
   padding: 10px;
   position: absolute;
   z-index: 10000;
   font-size: 14px;
}

.inner-tooltip {

}

.tooltip .key {
   color: #737373;
   display: inline-block;
   width: 90px;
}

.tooltip .value {
   color: black;
   display: inline-block;
}

p .info {
   margin-bottom: 0px !important;
}


.noselect {
   -webkit-touch-callout: none; /* iOS Safari */
     -webkit-user-select: none; /* Safari */
      -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Old versions of Firefox */
         -ms-user-select: none; /* Internet Explorer/Edge */
             user-select: none; /* Non-prefixed version, currently
                                   supported by Chrome, Opera and Firefox */
 }